Repository celery/kombu, pull requests merged in 2018-11, with the labels that each got.

#945 Used a tuple instead of a list to define __all__.
  kombu/abstract.py
  kombu/asynchronous/__init__.py
  kombu/asynchronous/aws/connection.py
  kombu/asynchronous/aws/ext.py
  kombu/asynchronous/aws/sqs/connection.py
  kombu/asynchronous/http/__init__.py
  kombu/asynchronous/http/base.py
  kombu/asynchronous/http/curl.py
  kombu/asynchronous/hub.py
  kombu/asynchronous/semaphore.py
  kombu/asynchronous/timer.py
  kombu/clocks.py
  kombu/common.py
  kombu/compat.py
  kombu/compression.py
  kombu/connection.py
  kombu/entity.py
  kombu/exceptions.py
  kombu/log.py
  kombu/message.py
  kombu/messaging.py
  kombu/mixins.py
  kombu/pidbox.py
  kombu/pools.py
  kombu/serialization.py
  kombu/simple.py
  kombu/transport/base.py
  kombu/transport/virtual/__init__.py
  kombu/utils/__init__.py
  kombu/utils/debug.py
  kombu/utils/eventio.py
  kombu/utils/functional.py
  kombu/utils/limits.py
  kombu/utils/scheduling.py
  kombu/utils/time.py
Labels: PR Type: Enhancement

#948 Support redis-py v2 and v3
  kombu/transport/redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Enhancement

#952 Revert "Pin Redis-py version"
  requirements/extras/redis.txt
Labels: Component: Redis Broker

#895 Making the pyro transport available, fix it for recent Pyro4 versions, add broker daemon
  Changelog
  README.rst
  docs/includes/introduction.txt
  docs/reference/kombu.transport.pyro.rst
  docs/userguide/connections.rst
  kombu/transport/__init__.py
  kombu/transport/pyro.py
  requirements/test.txt
  t/unit/transport/test_pyro.py
Labels: Component: Pyro Broker, PR Type: Enhancement

#747 fix bytes_to_str bug
  kombu/utils/encoding.py
Labels: Component: Serialization, Issue Type: Bug, Python Version: Python 3, Status: Has Patch, Version: 4.0
