Repository celery/kombu, pull requests merged in 2019-01, with the labels that each got.

#972 Avoid raising StopIterator in generators
  kombu/asynchronous/hub.py
Labels: Component: Event Loop, PR Type: Bugfix, Python Version: Python 3

#779 Bugfix: infinite loop when entity.channel is replaced by revive() o…
  kombu/common.py
Labels: PR Type: Bugfix, Status: Needs Test Coverage

#983 Added optional support for brotli compression
  kombu/compression.py
  requirements/extras/brotli.txt
  requirements/test-ci.txt
  t/unit/test_compression.py
Labels: Component: Compression, PR Type: Enhancement

#982 SQS: fix trimming .fifo from queue name
  kombu/transport/SQS.py
  t/unit/transport/test_SQS.py
Labels: Component: Amazon SQS Broker, PR Type: Bugfix

#986 Bump PyPy to 6.0 & Added PyPy3 to the build process.
  .travis.yml
  tox.ini
Labels: PR Type: Enhancement

#984 Added support for lzma compression
  kombu/compression.py
  requirements/extras/lzma.txt
  requirements/test-ci-py2.txt
  t/unit/test_compression.py
Labels: Component: Compression, PR Type: Enhancement

#985 Added optional support for zstd compression
  kombu/compression.py
  requirements/extras/zstd.txt
  requirements/test-ci.txt
  t/unit/test_compression.py
Labels: Component: Compression, PR Type: Enhancement
