Repository celery/kombu, pull requests merged in 2019-10, with the labels that each got.

#1113 Issue #1019 Fix redis transport socket timeout
  kombu/transport/redis.py
  requirements/extras/redis.txt
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Bugfix, py-redis

#1110 Add wait timeout settings to receive queue message
  .coveragerc
  kombu/transport/azureservicebus.py
  t/unit/transport/test_azureservicebus.py
Labels: Component: Azure ServiceBus Broker, PR Type: Enhancement

#1107 Fix 'NoneType' object has no attribute 'can_read'
  kombu/transport/redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Bugfix
