Repository celery/kombu, pull requests merged in 2019-02, with the labels that each got.

#998 Fix breaking change in Azure ServiceBus SDK
  kombu/transport/azureservicebus.py
Labels: Component: Azure ServiceBus Broker, PR Type: Enhancement

#1001 4.3 Changelog
  Changelog
Labels: Category: Packaging and Release Management, PR Type: Task

#1010 Handle the case when only one Redis Sentinel node is provided
  kombu/transport/redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Bugfix

#1002 Support SSL URL parameters correctly for rediss protocol
  kombu/utils/url.py
  t/unit/utils/test_url.py
Labels: Component: Redis Broker, PR Type: Feature

#997 Control pattern matching
  docs/reference/index.rst
  docs/reference/kombu.matcher.rst
  kombu/matcher.py
  kombu/pidbox.py
  t/unit/test_matcher.py
  t/unit/test_pidbox.py
Labels: Component: Pidbox, PR Type: Feature, Status: Needs Test Coverage
