Repository celery/kombu, pull requests merged in 2019-06, with the labels that each got.

#1055 Use a sentinel value to fix Celery's build
  kombu/serialization.py
Labels: Component: Serialization

#1056 Use fastuuid on CPython>=3.5
  .travis.yml
  kombu/serialization.py
  kombu/utils/uuid.py
  requirements/default.txt
Labels: PR Type: Enhancement

#1032 Allow users to switch URLs while omitting the resource identifier
  kombu/connection.py
  t/unit/test_connection.py
Labels: PR Type: Enhancement

#1068 Revert "Revert "Use SIMEMBERS instead of SMEMBERS to check for queue (redis broker)""
  kombu/transport/redis.py
  kombu/transport/virtual/base.py
  kombu/transport/virtual/exchange.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Enhancement
