Repository celery/kombu, pull requests merged in 2019-08, with the labels that each got.

#1076 Fixing MongoDB backend to work properly with TTL
  .travis.yml
  AUTHORS
  kombu/transport/mongodb.py
  requirements/extras/mongodb.txt
  t/unit/transport/test_mongodb.py
Labels: Component: MongoDB Broker (Unsupported), PR Type: Enhancement

#1080 Make sure that max_retries=0 is treated differently than None
  kombu/utils/functional.py
  t/unit/utils/test_functional.py
Labels: PR Type: Bugfix

#1089 Issue #1087 redis fix
  AUTHORS
  kombu/transport/redis.py
  kombu/transport/virtual/base.py
  kombu/transport/virtual/exchange.py
  requirements/test.txt
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Bugfix
