Repository celery/kombu, pull requests merged in 2021-03, with the labels that each got.

#1297 Stop treating namedtuple as an object when using simplejson
  kombu/utils/json.py
  t/unit/utils/test_json.py
Labels: PR Type: Bugfix

#1301 SQS back-off policy
  docs/reference/kombu.transport.SQS.rst
  kombu/asynchronous/aws/sqs/connection.py
  kombu/transport/SQS.py
  t/unit/transport/test_SQS.py
Labels: Component: Amazon SQS Broker, PR Type: Feature

#1304 SQS retry policy documentation improvement
  docs/reference/kombu.transport.SQS.rst
Labels: Component: Documentation, PR Type: Enhancement

#1132 Port of redis code improvements from prior revision
  AUTHORS
  kombu/transport/redis.py
  requirements/test.txt
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Enhancement

#1308 Fixed SQS unittests
  t/unit/asynchronous/aws/sqs/test_connection.py
Labels: Category: Tests, Component: Amazon SQS Broker

#1306 fix: non kombu json message decoding in SQS transport
  kombu/transport/SQS.py
  t/unit/transport/test_SQS.py
Labels: Component: Amazon SQS Broker

#1309 Add Github Actions CI
  .github/workflows/ci.yaml
  appveyor.yml
  requirements/test-ci.txt
  tox.ini
Labels: Category: Packaging and Release Management, Category: Tests, Issue Type: Enhancement

#1314 Update default pickle protocol version to 4
  kombu/serialization.py
Labels: Component: Serialization, PR Type: Enhancement

#1311 Update connection.py
  kombu/connection.py
Labels: Component: Connection, PR Type: Enhancement

#1317 Drop support for the lzma backport
  kombu/compression.py
  t/unit/test_compression.py
Labels: Component: Compression, PR Type: Cleanup

#1315 Drop obsolete code importing pickle
  kombu/serialization.py
Labels: Component: Serialization, PR Type: Cleanup

#1319 Small doc fixes
  docs/userguide/consumers.rst
Labels: Component: Documentation

#1322 SQS Broker - handle STS authentication with AWS
  kombu/transport/SQS.py
  t/unit/transport/test_SQS.py
Labels: Component: Amazon SQS Broker, PR Type: Enhancement, Status: Needs Test Coverage
