Repository celery/kombu, pull requests merged in 2021-11, with the labels that each got.

#1417 5.2.0 release notes
  Changelog.rst
Labels: PR Type: Enhancement, Category: Project Governance

#1423 Added integration test of failed authentication to redis
  t/integration/test_redis.py
Labels: Component: Redis Broker, Category: Tests

#1422 Bump redis version to >= 3.4.1
  requirements/extras/redis.txt
Labels: Component: Redis Broker, py-redis

#1428 try latest sqs dependencies
  requirements/extras/sqs.txt
Labels: Component: Amazon SQS Broker

#1442 drop as we dont use travis
  requirements/test-ci.txt
Labels: Category: Tests, CI

#1446 Fix PyPy CI jobs
  .github/workflows/ci.yaml
  tox.ini
Labels: CI
