Repository celery/kombu, pull requests merged in 2021-08, with the labels that each got.

#1368 Use Python's built-in json module by default, instead of simplejson
  kombu/utils/json.py
Labels: PR Type: Cleanup

#1349 Add global key prefix for keys set by Redis transporter
  AUTHORS
  kombu/transport/redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Feature

#1378 Make BrokerState Transport specific
  kombu/transport/filesystem.py
  kombu/transport/memory.py
  kombu/transport/pyro.py
  kombu/transport/virtual/base.py
  t/unit/transport/virtual/test_base.py
Labels: Component: Redis Broker, Priority: Major, PR Type: Bugfix

#1380 Run integration tests for kombu also with global_keyprefix
  t/integration/test_redis.py
Labels: Component: Redis Broker, Category: Tests
