Repository celery/kombu, pull requests merged in 2021-12, with the labels that each got.

#1444 Ensure that restore is atomic in redis transport
  kombu/transport/redis.py
  t/integration/common.py
  t/integration/test_py_amqp.py
  t/integration/test_redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker

#1472 try restrict setuptool in CI
  .github/workflows/ci.yaml
Labels: Category: Packaging and Release Management, CI

#1470 reduce memory usage of Transport
  kombu/transport/virtual/base.py
  t/unit/transport/test_consul.py
  t/unit/transport/virtual/test_base.py
Labels: PR Type: Bugfix

#1476 prevent event loop polling on closed redis transports (and causing leak)
  kombu/transport/redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Bugfix

#1458 respect connection timeout
  kombu/connection.py
  t/unit/test_connection.py
Labels: Component: Connection, PR Type: Bugfix

#1477 prevent redis event loop stopping on 'consumer: Cannot connect'
  kombu/transport/redis.py
  t/unit/transport/test_redis.py
Labels: Component: Redis Broker, PR Type: Bugfix

#1471 allow getting recoverable_connection_errors without an active transport
  kombu/connection.py
  kombu/transport/consul.py
  kombu/transport/etcd.py
  kombu/transport/redis.py
  t/integration/test_redis.py
  t/unit/test_connection.py
  t/unit/transport/test_redis.py
Labels: PR Type: Enhancement, PR Type: Bugfix
