Repository celery/kombu, pull requests merged in 2022-04, with the labels that each got.

#1516 Added possibility to serialize and deserialize binary messages in json
  kombu/utils/json.py
  requirements/test.txt
  t/unit/utils/test_json.py
Labels: Component: Serialization

#1514 Annotate `utils/uuid.py` and `utils/text.py`
  kombu/utils/text.py
  kombu/utils/uuid.py
  setup.cfg
  t/unit/utils/test_uuid.py
Labels: PR Type: Enhancement

#1536 Support pymongo 4.x
  .github/workflows/ci.yaml
  kombu/transport/mongodb.py
  requirements/extras/mongodb.txt
  requirements/test-ci.txt
  t/integration/common.py
  t/integration/test_mongodb.py
  t/unit/transport/test_mongodb.py
  tox.ini
Labels: Component: MongoDB Broker (Unsupported)

#1506 Kafka support
  .github/workflows/ci.yaml
  docs/reference/kombu.transport.confluentkafka.rst
  kombu/transport/__init__.py
  kombu/transport/confluentkafka.py
  requirements/extras/confluentkafka.txt
  requirements/test-ci-windows.txt
  requirements/test-ci.txt
  t/integration/test_kafka.py
  tox.ini
Labels: Category: Experimental Features, PR Type: Feature

#1539 Upgrade Azure Storage Queues transport to version 12
  kombu/transport/azurestoragequeues.py
  requirements/extras/azurestoragequeues.txt
  t/unit/transport/test_azurestoragequeues.py
Labels: Component: Azure ServiceBus Broker

#1546 redis>=4.2.2
  requirements/extras/redis.txt
Labels: py-redis

#1540 Added HLEN to the list of prefixed redis commands
  kombu/transport/redis.py
Labels: Component: Redis Broker, Status: Needs Test Coverage, PR Type: Enhancement
