Repository celery/kombu, pull requests merged in 2025-03, with the labels that each got.

#2226 SQS: Support Async JSON SQS Protocol & Message Attributes
  AUTHORS
  kombu/asynchronous/aws/connection.py
  kombu/asynchronous/aws/sqs/connection.py
  kombu/transport/SQS.py
  t/unit/asynchronous/aws/sqs/test_connection.py
  t/unit/transport/test_SQS.py
Labels: Component: Amazon SQS Broker

#2255 Prepare for release: v5.5.0
  .bumpversion.cfg
  Changelog.rst
  README.rst
  SECURITY.md
  docs/includes/introduction.txt
  kombu/__init__.py
Labels: Category: Packaging and Release Management

#2266 SQS: Fix Query Protocol Content-Type header
  kombu/asynchronous/aws/sqs/connection.py
  t/unit/asynchronous/aws/sqs/test_connection.py
Labels: Component: Amazon SQS Broker

#2267 SQS: More Protocol Tests
  kombu/asynchronous/aws/sqs/connection.py
  t/unit/asynchronous/aws/sqs/test_connection.py
Labels: Component: Amazon SQS Broker

#2271 Downgrad kafka version to make the CI green again
  tox.ini
Labels: CI
